:host {
    position: relative;
    display: inline-block;
}

.tooltip-trigger {
    display: inherit;
}

.tooltip-content {
    display: none;
    position: absolute;
    z-index: 1;
    &.visible {
        display: block;
    }
    &.top {
        top: 0;
        left: 50%;
        transform: translate(-50%, -100%);
        padding-bottom: 8px;
    }
    &.bottom {
        top: 100%;
        left: 50%;
        transform: translate(-50%, 0);
        padding-top: 8px;
    }
    &.left {
        top: 50%;
        left: 0;
        transform: translate(-100%, -50%);
        padding-right: 8px;
    }
    &.right {
        top: 50%;
        left: 100%;
        transform: translate(0, -50%);
        padding-left: 8px;
    }
}

.tooltip-body {
    position: relative;
    background-color: white;
    box-shadow: 0 0 10px silver;
    padding: 10px;
}

.tooltip-arrow {
    border: 5px solid transparent;
    width: 0;
    height: 0;
    position: absolute;
    &.top {
        border-top-color: white;
        bottom: -10px;
        left: ~"calc(50% - 5px)";
    }
    &.left {
        border-left-color: white;
        right: -10px;
        top: ~"calc(50% - 5px)";
    }
    &.right {
        border-right-color: white;
        left: -10px;
        top: ~"calc(50% - 5px)";
    }
    &.bottom {
        border-bottom-color: white;
        top: -10px;
        left: ~"calc(50% - 5px)";
    }
}